<?xml version="1.0" encoding="UTF-8" ?>
<torctheme>
    <window name="settings" inherits="/basewindow">
        <connect signal="Shown"  slot="CreateSettings"  receiver="menu"/>
        <connect signal="Hidden" slot="DestroySettings" receiver="menu"/>
        <setting name="menu" position="0,0,400,1080">
            <layout type="vertical" fixedheight="100" spacingx="5"/>
            <group name="GROUPITEM" position="0,0,800,100" template="1">
                <layout type="horizontal" alignment="left"/>
                <connect signal="GroupSelected" slot="Activate" receiver="SETTINGITEM"/>
                <connect signal="GroupDeselected" slot="Deactivate" receiver="SETTINGITEM"/>
                <button name="SETTINGNAME" inherits="/templates_button"/>
                <group name="SETTINGITEM" position="400,0,1520,1080">
                    <layout type="vertical" spacingx="5" wrapselection="1"/>
                    <state visible="false"/>
                    <effect detached="true" alpha="0"/>
                    <shape name="bg" position="0,0,1520,1080">
                        <effect decoration="1"/>
                        <path>
                            <pen color="FFFFFFFF" width="5"/>
                            <addrect rect="0,0,1520,1080" xradius="5" yradius="5"/>
                        </path>
                    </shape>
                    <animation name="Activated">
                        <element property="alpha" endvalue="1.0"/>
                    </animation>
                    <animation name="Deactivated">
                        <element property="alpha" duration="0" endvalue="0.0"/>
                    </animation>
                    <button name="CHECKBOX" inherits="/templates_button" template="1">
                        <checkbox/>
                        <effect alpha="0.5" centre="left"/>
                        <connect signal="Pushed"   slot="Show" receiver="toggle"/>
                        <connect signal="Released" slot="Hide" receiver="toggle"/>
                        <animation name="Activated">
                            <element property="alpha" endvalue="1.0" duration="100"/>
                        </animation>
                        <animation name="Deactivated">
                            <element property="alpha" endvalue="0.5" duration="100"/>
                        </animation>
                        <shape name="toggle" position="0,0,20,100">
                            <state visible="false"/>
                            <path>
                                <brush color="FF0000FF" brushstyle="SolidPattern"/>
                                <addroundedrect rect="2,2,94,94" xradius="11" yradius="11"/>
                            </path>
                        </shape>
                        <text name="DESCRIPTION" position="300,0,1220,1080">
                            <font name="main" alignment="left"/>
                        </text>
                    </button>
                </group>
            </group>
            <button name="closeme" inherits="/templates_button">
                <message>Close</message>
                <connect signal="Released" slot="SetAsRootWidget" receiver="/background"/>
            </button>
        </setting>
    </window>
</torctheme>
